<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="200" border="1"class="table table-hover">
    <tr>
      <th scope="col">Hostel</th>
    </tr>
    <tr>
      <th scope="col"><div align="center"><a href="viewstudents">View Students</a></div></th>
    </tr>
   <tr>
      <th scope="col"><div align="center"><a href="viewstatus">View Status</a></div></th>
    </tr>

    <tr>
      <td><div align="center"><a href="viewcomplaintshostel">View Complaints and Send Reply</a></div></td>
    </tr>
    <tr>
      <td><div align="center"><a href="viewnotification">View Notifications</a></div></td>
    </tr>
    <!--<tr>-->
      <!--<td><div align="center"><a href="postComplaints">Complaint And View Reply</a></div></td>-->
    <!--</tr>-->
    <tr>
      <td><div align="center"><a href="/">Logout</a></div></td>
    </tr>
  </table>
</form>
</body>
</html>
