<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->

{% extends 'adminindex.html' %}
{% block body %}
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<form id="form3" name="form3" method="post" action="">
  <table width="200" border="1"class="table table-hover">
    <tr>
      <th scope="row">Type</th>
      <td><label>
        <select name="select">
          <option> </option>
          <option>Student</option>
          <option>Staff</option>
          <option>Hostel</option>
          <option>Others</option>
        </select>
        </label>
      </td>
      <td><label>
          <div align="center">
            <input type="submit" name="Submit" value="Search" />
          </div>
        </label>
      </td>
    </tr>
    <tr>
      <th scope="row">ID</th>
      <td><strong>Complaint</strong></td>
      <td><strong>Status</strong></td>
    </tr>
    <tr>
      <th scope="row">&nbsp;</th>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
  </table>
</form>
</body>
<!--</html>-->
{% endblock %}
