<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="200" border="1"class="table table-hover">
    <tr>
      <th scope="row">Staff</th>
    </tr>
    <tr>
      <th scope="row"><a href="verifstudent">Verify Students</a></th>
    </tr>
    <tr>
      <th scope="row"><a href="viewstatus">View Status</a></th>
    </tr>
    <tr>
      <th scope="row"><a href="viewcomplaints">View Complaints and Reply</a></th>
    </tr>
    <!--<tr>-->
      <!--<th scope="row"><a href="postComplaints">Post Complaints And Reply</a></th>-->
    <!--</tr>-->
    <tr>
      <th scope="row"><a href="/">Logout</a></th>
    </tr>
  </table>
</form>
</body>
</html>
